/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}


/* end of css reset */

/* CSS HEX */
/* --celestial-blue: #1293D5;
--jonquil: #FACD0D;
--alice-blue: #E3E9F0;
--black: #000000;
--white: #FFFFFF; */

body {
  font-family: Roboto;
}

.container {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 20% 1fr;
  grid-template-rows: 200px 1fr;
}

.sidebar {
  grid-column: 1/2;
  grid-row: 1 / -1;
  background-color: #1293D5;
}

.main-content {
  background-color: #E3E9F0;
}

.menu-items {
  font-size: 24px;
  font-weight: bold;
  color: white;
  list-style-type: none;
}


.logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
  list-style-type: none;
  margin-left: 24px;
  margin-top: 24px;
}

.menu-items {
  margin-bottom: 24px;
}

.first-menu {
  margin-top: 24px;
  margin-bottom: 24px;
}

.setting-menu {
  margin-top: 80px;
}

.first-row {
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center
}


.search-box {
  width: 40%;
  background-color: rgb(218, 218, 218);
  border: none;
  border-radius: 32px;
  line-height: 32px;
}

.top-name {
  font-weight: bold;
  font-size: 16px;
}

.top-right {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.left {
  padding: 16px;
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.hi {
  font-size: 12px;
}

.big-name {
  font-size: 24px;
  font-weight: bold;
}

.big-img {
  margin-right: 24px;
}

.socond-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right {
  margin-right: 48px;
}

.btn {
  background-color: #1293D5;
  padding: 8px 32px;
  color: white;
  border-radius: 32px;
  font-size: 16px;
  border: none;
  margin-right: 32px;

}

.main-content {
  display: grid;
  grid-template-columns: 1fr 25%;
  grid-template-rows: 1fr 1fr;
}

.projects {
  padding: 32px;
  grid-row: 1/-1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 24px;
}

.boxes {
  background-color: white;
  border-radius: 16px;
  padding: 32px;
}

.big-box {
  font-size: 16px;
  font-weight: bold;
}

.ann {
  background-color: white;
  border-radius: 16px;
  /* padding: 32px; */
  margin: 32px 20px;
  border-radius: 16px;
  padding: 32px;
  display: flex;
  flex-direction: column;
}

.tre {
  background-color: white;
  border-radius: 16px;
  /* padding: 32px; */
  margin: 32px 20px;
  border-radius: 16px;
  padding: 32px;
}

.ann-top {
  font-weight: bold;
  font-size: 18px;
}

hr {
  margin-top: 16px;
  margin-bottom: 16px;
  border: 1px solid rgb(213, 212, 212);
}

.tre-divs {
  display: flex;
  align-items: center;
  gap: 24px;
}

.tre-big-text {
  /* font-weight: bold; */
  font-size: 24px;
}